@tailwind base;

.ListaNav { 
    display: flex;
    flex-direction: row;     
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkblue;
    
   
}

.ListaNav .MainList { 
    display: flex;
    flex-direction: row;  
    align-self: flex-end;
    justify-content: space-around;
    padding-right: 2%;
    
}

.ListaNav ul li {     
    list-style: none;
    margin: auto;
    padding: 0 5px 0 5px;    
}

.ListaNav:first-child {
    
    padding-left: 1%;
}

a {
    text-decoration: none;   
    color: antiquewhite; 
}


.MainList ul {
    padding: 2% 0 0 0;
    background-color: darkblue;
    border-radius: 5px;
    
    position: absolute;
    display: none;
}


.MainList li ul li {
    position: relative;
}


.MainList li:hover ul {
    display: block;
}
